* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.arco-modal.confirm-modal {
  padding: 16px;
  .arco-modal-header {
    margin-bottom: 0 !important;
  }
  .arco-modal-footer {
    margin-top: 0 !important;
  }
}