@color-primary: #2d8cf0;
@color-title: #17233d;
@color-content: #515a6e;
@color-sub-color: #808695;
@color-disabled: #c5c8ce;
@color-border: #dcdee2;
@color-divider: #e8eaec;
@color-background: #f8f8f9;
@color-warning: #ff9900;

@color: {
  primary: #2d8cf0;
  title: #17233d;
  content: #515a6e;
  sub-color: #808695;
  disabled: #c5c8ce;
  border: #dcdee2;
  divider: #e8eaec;
  background: #f8f8f9;
  warning: #ff9900;
}