@font-face {
  font-family: "iconfont"; /* Project id 2858513 */
  src: url('iconfont.woff2?t=1634637070114') format('woff2'),
       url('iconfont.woff?t=1634637070114') format('woff'),
       url('iconfont.ttf?t=1634637070114') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-suiji:before {
  content: "\e7b8";
}

.icon-crmxitongy-:before {
  content: "\e606";
}

.icon-crmxitongy-1:before {
  content: "\e607";
}

.icon-crmxitongy-2:before {
  content: "\e608";
}

.icon-huojian:before {
  content: "\e61f";
}

.icon-xinxi:before {
  content: "\e62b";
}

.icon-zhengque:before {
  content: "\e88c";
}

.icon-yqhy:before {
  content: "\e61e";
}

.icon-wenhao:before {
  content: "\e7b3";
}

.icon-paihangbang:before {
  content: "\e64b";
}

.icon-dingshi:before {
  content: "\e77e";
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-guize:before {
  content: "\e795";
}

.icon-tishi:before {
  content: "\eeee";
}

.icon-jihua:before {
  content: "\e6c6";
}

.icon-zhuanxiangfenlei:before {
  content: "\e6d2";
}

.icon-gengduo:before {
  content: "\e689";
}

.icon-pipeishejishi-4:before {
  content: "\e7c6";
}

.icon-daochu1024-26:before {
  content: "\e617";
}

.icon-daochu1024-27:before {
  content: "\e618";
}

.icon-daochu1024-28:before {
  content: "\e619";
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-biaoqian_o:before {
  content: "\eb47";
}

.icon-24gl-calendar:before {
  content: "\eb3f";
}

.icon-tupian_huaban:before {
  content: "\e62d";
}

.icon-gitee2:before {
  content: "\e677";
}

.icon-icon:before {
  content: "\e61b";
}

.icon-jiangbeishengli:before {
  content: "\e651";
}

.icon-biaoqian:before {
  content: "\e62c";
}

.icon-404:before {
  content: "\e605";
}

.icon-icon4:before {
  content: "\e609";
}

.icon-jilu:before {
  content: "\e66b";
}

